# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.exe
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv

# Databases & Vector Stores
data/
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
